<div id="border">
    <div id="headingContainer">
        <h1 id="up">Details of</h1>
        <h1 id="down">YUKTI CHALLENGE</h1>
    </div>
    <div>
        <div id="container">
            <i class="fa-solid fa-star"></i>
            <p id="color"> Note : </p><p> Be Careful while submitting the problem statement and its category</p>
        </div>
    </div>
    <div id="container2">
        <div class="content1"> 
                <input class="input" type="text" name="problems statement" placeholder="Problem statement(within 250 words)"/>
                <select class="select" name="category">
                <option value="" default>Select Problem Statement Category</option>
                <option value="Space Technology" >Space Technology</option>
                <option value="Smart Automation" >Smart Automation</option>
                <option value="Clean and Green Technology" >Clean and Green Technology</option>
                <option value="Misellaneous" >Misellaneous</option>
                <option value="Transportation and Logistics" >Transportation and Logistics</option>
                <option value="Disaster Management" >Disaster Management</option>
                </select>
        </div>
        <div class="content1"> 
                <input class="input" type="text" name="problems statement" placeholder="Solution for your Problem Statement (breifly explain)"/>
        </div>
    </div>
    <div id="bottom1">
        <form method="get" action="/teamleader"><input type="submit" id="proceed" value="Confirm to Register"></input></form>
        <div>
            <div class="circle" >1</div>
            <div class="line"></div>
            <div class="circle">2</div>
            <div class="line"></div>
            <div class="circle" id="color-circle">3</div>
        </div>
    </div>
</div>