<div id="border">
    <div id="headingContainer">
        <h1 id="up">Welcome to</h1>
        <h1 id="down">REGISTRATION PORTAL</h1>
    </div>
    <div>
        <div id="container">
            <i class="fa-solid fa-star"></i>
            <p id="color"> Note : </p><p> Please read the necessary details about the event before filling the form</p>
        </div>
    </div>
    <div id="bottom">
        <form method="get" action="/teamleader"><input type="submit" id="proceed" value="Proceed to"></input></form>
        <div>
            <div class="circle" id="color-circle">1</div>
            <div class="line"></div>
            <div class="circle">2</div>
            <div class="line"></div>
            <div class="circle">3</div>
        </div>
    </div>
</div>